<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Expenses App</title>
    <link rel="stylesheet" href="style.css">
    
</head>
<body>
    <h1>Expenses App</h1>
    <form method="POST" action="/submit-form" id="myForm">
        <label for="amount">Enter the Amount : </label>
        <input type="number" name="amount" id="amount"><br>
        <label for="description">Enter the decription</label>
        <input type="text" name="description" id="description"><br>
        <label for="category">Choose Expense Category</label>
        <select id="category" name="category"><br>
            <option value="shopping">Shopping</option>
            <option value="travelling">Travelling</option>
            <option value="movie">Movie</option>
            <option value="restaurant">Restaurant</option>
            <option value="miscellaneous">Miscellaneous</option>
        </select><br>
        <input type="submit" value="Add Expenses"><br>
    </form>
    <div id="expenses"></div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/1.4.0/axios.min.js"></script>

    <script>

        window.onload = function(){
                    fetch('/expenses')
                        .then(response => response.json())
                        .then(data => {
                            const formData = document.getElementById('expenses');
                            formData.innerHTML = '';
                            data.forEach(expense => {
                                showOnScreen(expense);
                            });
                        })
                        .catch(err => {
                            console.log('Error fetching expense data:', err);
                        });
                }

                function showOnScreen(expense) {
                const expensesList = document.getElementById('expenses');
                const expenseId = `expense-${expense.id}`;
                const li = document.createElement('li');
                li.textContent = `Amount: ${expense.amount} - Description: ${expense.description} - Category: ${expense.category}`;
                expensesList.appendChild(li);

                const editBtn = document.createElement('input');
                editBtn.type = 'button';
                editBtn.value = 'edit';
                editBtn.onclick = () => {
                    const updatedAmount = prompt('Enter updated Amount:', expense.amount);
                    const updatedDescription = prompt('Enter updated description:', expense.description);
                    const updatedCategory = prompt('Enter updated Category:', expense.category);

                    const updatedExpense = {
                        id : expense.id,
                        amount: updatedAmount,
                        description: updatedDescription,
                        category: updatedCategory,
                    };
                    axios.put(`http://localhost:4010/expenses/editExpense/${expense.id}`, updatedExpense)
                    .then(response=>{
                        console.log("Editing Expense: ", updatedExpense);
                        location.reload()
                    })
                    .catch(error =>{
                        console.log("Error Editing Expense in frontend", error);
                    })
                };

                const deleteBtn = document.createElement('input');
                deleteBtn.type = 'button';
                deleteBtn.value = 'delete';
                deleteBtn.onclick = () => {
                    console.log('Deleting expense with ID:', expense.id);
                    fetch(`/Expense/delete-expense/${expense.id}`, {
                    method: 'DELETE'
                })
                .then(response=>response.json())
                .then(data=>{
                    console.log(data.message);
                    const formData = document.getElementById('expenses');
                    const deletedExpense = formData.querySelector(`li[id="${expenseId}"]`);
                    deletedExpense.remove();
                })
                .catch(err=>{
                    console.log(err.message);
                })
                }

                li.appendChild(editBtn);
                li.appendChild(deleteBtn);
                expensesList.appendChild(li);
            }

    </script>
</body>

</html>